[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
sphinx = "*"
pydata-sphinx-theme = "0.13.3"
linuxdoc = "*"
sphinx-tabs = "*"
make = "*"
breathe = "*"
jinja2 = "*"
sphinx-csharp = {git = "https://github.com/rogerbarton/sphinx-csharp.git", ref = "master"}
sphinx-multiversion = "*"

[dev-packages]
