name: Build and Test Documentation

on:
  pull_request:
    branches:
      - main

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-22.04
    environment: Testing

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10.12"

      - name: Install pipenv and dependencies
        run: |
          python -m pip install --upgrade pipenv wheel
          pipenv install --deploy --dev

      - name: Build HTML pages
        id: make_html
        run: |
          pipenv run make html SPHINXOPTS="-W --keep-going" # -W: Fail on warnings. --keep-going: Continue processing on warnings, but fail at the end

      - name: Check all external links
        id: make_linkcheck
        run: |
          pipenv run make linkcheck SPHINXOPTS="-W --keep-going -n" # -n: nit-picky mode, generates warnings for all missing references

      - name: Upload docs
        uses: actions/upload-artifact@v4
        with:
          name: html
          if-no-files-found: error
          path: docs/html/*
